li {
    text-align: start;
}
.bold {
    font-weight: bold;
}
.block {
    display: block;
}
.box-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1%;
}
.bet-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}
.login-modal {
    text-align: center;
}
.login-modal .login-form {
    position: relative;
    text-align: center;
}
.login-modal .close-button {
    margin-top: 2%;
}
.centered-relative.room{
    text-align: left;
    border-radius: 10px;
    border-style: groove;
    border-width: thick;
    padding: 2vmax;
    border-color: rgb(0, 102, 153);
}