body {
    margin: 0;
    overflow: hidden;
}
.left { left: 0; }
.right { right: 0; }
.top {top: 0; }
.bottom {bottom: 0; }

.cardboard {
    background-color: rgba(7,150,34);
    overflow: hidden;
}
.white {
    background-color: white;
}
.blue {
    background-color: royalblue;
}
.highlight {
    font-weight: bold;
}
.tooltip-text {
    font-size: 2vh;
    line-height: 2vh;
    font-weight: normal;
    background-color: #555;
    color: white;
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
    bottom: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
    user-select: none;
}
/* Tooltip arrow */
.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.player-card {
    width: 12vmax;
    height: 18vmax;
    position: fixed;
    margin: 0;
    transform-origin: left bottom;
    font-size: 2.5vmax;
    font-family: sans-serif;
    line-height: 2.5vmax;
    border-style: double;
    border-width: thin;
    border-radius: 5px;
    padding-left: 0.5vmax;
    user-select: none;
    box-shadow: 5px 10px darkgreen;
}
.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.player-fan {
    position: absolute;
    left: 33%;
    top: 66%;
    bottom: 0;
    z-index: 101;
}
.player-fan:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    width: max-content;
    z-index: 1001;
}
.player-fan .player-card {
    bottom: 0;
}
.player-fan .player-card:hover {
    z-index: 1000;
   /* transform: scale(1.2)*/
}
.other-card {
    width: 2vmax;
    height: 3vmax;
    position: absolute;
    margin: 0;
    transform-origin: left bottom;
    font-size: 0.416666667vmax;
    font-family: sans-serif;
    border-style: ridge;
    border-radius: 5px;
    border-width: thin;
    padding-left: 0.5vmax;
    user-select: none;
    box-shadow: 0.25vmax 0.5vmax darkgreen;
}
.other-fan-1 {
    position: absolute;
    top: 2%;
    left: 30%;
}
.other-fan-2 {
    position: absolute;
    top: 2%;
    left: 65%
}
.other-fan-3 {
    position: absolute;
    top: 2%;
    left: 10%;
}
.other-fan-4 {
    position: absolute;
    top: 2%;
    right:10%;
}
.other-fan-5 {
    position: absolute;
    top: 20%;
    left: 10%;
}
.other-fan-6 {
    position: absolute;
    top: 20%;
    right: 10%;
}
.other-fan-7 {
    position: absolute;
    top: 40%;
    left: 10%;
}
.other-fan-8 {
    position: absolute;
    top: 40%;
    right: 10%;
}
.other-fan-9 {
    position: absolute;
    top: 60%;
    left: 10%;
}
.other-fan-10 {
    position: absolute;
    top: 60%;
    right: 10%;
}
.other-player-name {
    text-shadow: 1px 2px darkgreen;
    color: white;
}
.stack {
    position: absolute;
    bottom: 50%;
    left: 33%;
    display: flex;
}
.stack .player-card {
    position: relative;
    margin-right: -13vmax;
    box-shadow: 1px 2px darkgreen;
}
.stack .placeholder-card{
    box-shadow: none;
    border-style: ridge;
    border-width: medium;
}
.stack:hover .player-card {
    margin-right: -10vmax;
}
.red-card { color: red; }

@keyframes to-stack {
    0% {bottom: 0}
    50% {
        bottom: 40%;
    }
    100% {
        bottom: 50%;
    }
}
@keyframes rotate-right {
    0% {}
    50% {transform: rotate3d(0,0,0.1,0.1turn), scale(2)}
    100% {transform: rotate3d(0,0,0.1,0.1turn)}
}
@keyframes rotate-left {
    0% {}
    50% {transform: rotate3d(0,0,0.1,-0.1turn), scale(2)}
    100% {transform: rotate3d(0,0,0.1,-0.1turn)}
}
.play-card {
    left:33%;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.62,1.18,.75,.79);
    animation-fill-mode: forwards;
}
.player-card.left {
    animation-name: to-stack, rotate-left;

}
.player-card.right {
    animation-name: to-stack, rotate-right
}
.player-list {
    padding: 0.5vh;
}
.player-list-item {
    display: block;
    border-style: groove;
    border-radius: 7px;
    padding: 0.5vh;
    margin-bottom: 0.5vh;
    font-size: 2.5vw;
}
.pli-score {
    position: relative;
    float: right;
    font-size: 5vw;
}
.pli-score:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    text-shadow: none;
}
.pli-bet-takes{
    display: block;
}
.pli-bet {
    position: relative;
    display: inline-block;
    width: 3vw;
    border-radius: 100%;
    text-align: center;
    font-size: 2.5vw;
    line-height: 3vw;
    border-width: 2px;
    border-style: inset;
    border-color: gold;
    background: rgb(255, 255, 102);
}
.pli-bet:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    text-shadow: none;
    transform: translate(-18%);
}
.pli-takes {
    position: relative;
    display: inline-block;
    width: 2.5vw;
    border-radius: 5px;
    text-align: center;
    line-height: 3vw;
    border-width: 2px;
    border-style: outset;
    border-color: whitesmoke;
    background: royalblue;
    color: white;
    margin-left: 1vw;
}
.pli-takes:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    text-shadow: none;
    transform: translate(-30%);
}