body {
    margin: 0;
    overflow: hidden;
}
.left { left: 0; }
.right { right: 0; }
.top {top: 0; }
.bottom {bottom: 0; }
.other-fan-1 {
    position: absolute;
    top: 2%;
    left: 30%;
}
.other-fan-2 {
    position: absolute;
    top: 2%;
    left: 65%
}
.other-fan-3 {
    position: absolute;
    top: 2%;
    left: 10%;
}
.other-fan-4 {
    position: absolute;
    top: 2%;
    right:10%;
}
.other-fan-5 {
    position: absolute;
    top: 20%;
    left: 10%;
}
.other-fan-6 {
    position: absolute;
    top: 20%;
    right: 10%;
}
.other-fan-7 {
    position: absolute;
    top: 40%;
    left: 10%;
}
.other-fan-8 {
    position: absolute;
    top: 40%;
    right: 10%;
}
.other-fan-9 {
    position: absolute;
    top: 60%;
    left: 10%;
}
.other-fan-10 {
    position: absolute;
    top: 60%;
    right: 10%;
}

@keyframes to-stack {
    0% {bottom: 0}
    50% {
        bottom: 40%;
    }
    100% {
        bottom: 50%;
    }
}
@keyframes rotate-right {
    0% {}
    50% {transform: rotate3d(0,0,0.1,0.1turn), scale(2)}
    100% {transform: rotate3d(0,0,0.1,0.1turn)}
}
@keyframes rotate-left {
    0% {}
    50% {transform: rotate3d(0,0,0.1,-0.1turn), scale(2)}
    100% {transform: rotate3d(0,0,0.1,-0.1turn)}
}
.play-card {
    left:33%;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.62,1.18,.75,.79);
    animation-fill-mode: forwards;
}
.player-card.left {
    animation-name: to-stack, rotate-left;

}
.player-card.right {
    animation-name: to-stack, rotate-right
}